<!DOCTYPE html>
<html>
  <head>
    <title>select</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <table border="1">
      <thead>
          <tr>
              <th>아이디</th>
              <th>암호</th>
              <th>이름</th>
              <th>주소</th>
              <th>나이</th>
              <th>비고</th>
            </tr>
      </thead>

      <tbody>
      <form action="/member/update" method="post">
      <% for(var i=0;i<list.length;i++) { %>
        <tr>
          <td><input type="text" name="id" value="<%= list[i].id %>"/> </td>
          <td><input type="text" name="pw" value="<%= list[i].password %>" /></td>
          <td><input type="text" name="na" value="<%= list[i].name %>" /></td>
          <td><input type="text" name="ad" value="<%= list[i].address %>" /></td>
          <td><input type="text" name="ag" value="<%= list[i].age %>" /></td>
          <td><input type="submit" value="수정" /></td>
        </tr>
      <% } %>  
      </form>
      </tbody>
  </table>  
  </body>
</html>
